*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.my-logo{
    font-size: 1.1em;
}
.my-logo span{
    color: #ff6666;
    font-size: 1.1em;
}
.skills {
    font-size: 0.8em;
    color:#ff6666;
    text-align: center;
}
hr {
    margin-top: 15px;
}
.bonus h1 {
    font-size: 1.4em;
    color: #ff6666;
    text-transform: capitalize;
}
.bonus h1 span {
    color:black;
}
.bonus {
    text-align: center;
    margin-top: 30px;
}
.containers h2 {
    font-size: 1.4em;
    color: #626262;
}
.containers {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.others {
    margin-top: 50px;
    font-size: 1em;
    text-transform:capitalize;
    display: flex;
    justify-content: center;
    color: #ff6666;
}
.others h1 span{
    color: black;
    font-size: 1em;
}
.project-containers {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: white;
    gap: 50px;
}
.bio1, .bio2 {
    border: 1px solid #626262;
    line-height: 30px;
    padding: 0px 15px;
}
.project-containers p {
    margin-bottom: 30px;
}
.project-containers div >{
    padding: 10px;
}
.project-containers i {
    display: flex;
    justify-content: center;
    color: #ff6666;
    margin-top: 30px;
    margin-bottom: 10px;
}
.listing {
    margin-top: 50px;
}
.listing  span {
    color: black;
    margin-left: 5px;
}
.listing h3 {
    display: flex;
    justify-content: center;
    color:#ff6666;
}
.listing ul li {
    list-style: none;
}
.listing ul li a {
    text-decoration: none; 
    color: black;
    font-size: 1em;
    text-transform: capitalize;
    line-height: 30px;
}
.listing ul li a:hover {
    color: #ff6666;
    cursor: pointer;
}
.listing ul {
    text-align: center;
    margin-top: 30px;
}
.footer1 {
    margin-top: 5px;
    color: #626262;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
}
@media all and (max-width: 600px) {
    .containers {
        flex-direction: column;
        text-align: center;
    }
    .project-containers {
        flex-direction: column;
        text-align: center;
    }
    .containers {
        gap: 30px;
    }
    .containers h2 {
        font-size: 1em;
        color: #626262;
        font-weight: lighter;
    }
    .others h1 {
        font-size: 1.1em;
    }
}
